<ion-view view-title="Impostazioni">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Server Address</span>
        <input type="text" ng-model="settingsData.serverAddress">
      </label>
      <label class="item item-input">
        <span class="input-label">Server Port</span>
        <input type="number" ng-model="settingsData.serverPort">
      </label>
      <label class="item">
        <button class="button button-block button-positive" ng-click="saveSettings()">Salva</button>
      </label>
    </div>
  </ion-content>
</ion-view>